@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,300&display=swap');

* {
  font-family: 'Source Code Pro', monospace;
  align-items: center;
  justify-content: center;
}

body {
  background-color: #e4c0ff;
  color: white;
  padding: 50px;
  align-items: center;
  justify-content: center;
}

p {
  font-size: 30px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}

button {
  background-color: #fffce5;
  color: black;
  width: 100px;
  position: absolute;
  font-weight: bolder;
  border-color: white;
  align-items: center;
  justify-content: center;
  
}

.hidden {
  display:none;
}

#move {
  left: 200px;
}

#change:hover {
  cursor:pointer;
}
